
body{
    background-color: grey;
}
h1 {
    font-size: 3em;
    color: orange;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: black;
    
    
}

h2 {
    
    font-size: larger;
    font-size: 2em;
    text-align: center;
}
h3 {
    
    font-size: larger;
    font-size: 2em;
    text-align: center;
}
h4 {
    text-align: center;
    color:orange;
    background-color: black; 
    font-size: 3em;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

h5 {
    color:darkred;
    font-size: 2em;
    text-align: center;
}

h6{
    color: black;
    font-size: 2em;
    text-align: center;
    background-color: maroon;
    padding: 1em;
    margin: 1em;
}

h7{
    color: black;
    font-size: 2em;
}
header{
    height: 7cm;
    border: 2em;
    border-color: black;
    border-radius: 1em;
    background-image:url("images/pic2.jpg");
    background-repeat:no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    background-size: cover; 
}
footer {
    background-color: orange;
    height: 4cm;
    border: 2em; 
    
}

/* (x-cloack){
    display: none;
}  */

.cart{
    justify-content: center;
     /* background-color: orange;  */
    align-items: center;
    padding: 4em;  
    margin: 5em;
    background-image:url("images/pizzOF2.jfif");
}

table{
    width: 50%;
    border-collapse: collapse;
    background-color: darkolivegreen;
    font-size: 1em;
    
}
th{
    text-align: left;
    padding: 5px;
    background-color: grey;
}

tr{
    height: 3em;
}

.totalPrice{
    /* width: 50%; */
    /* border-collapse: collapse;
    background-color: darkolivegreen;
    text-align: center; */

}
.totalPrice table{
    border-top: 3px solid;
    width: 25%;
    background-color: darkolivegreen;
    
    
}
.pizza1 {
    background-color: darkgoldenrod;
 
   

}
.pizza2 {
    background-color: darkslategray;
    
    
    
}
.pizza3 {
    background-color: antiquewhite;


   
}
.PizzaCart {
    background-color:orange;
    
     
}




.pizzas{
    display: flex;
    justify-content: space-evenly;
}
button{
    color: black;
    /* float: inline-end; */
    position: relative;
    background-color: brown;
    /* border-radius: 100%; */
    height: 3em;
    font-size: 1em;
}

.container{
    display: list-item;
    justify-content: center;
    background-color:olive
}

.allFooter{
    display: flex;
    font-size: 20px;

}
.contacts{
    text-align: left;
    padding-left: 60em;
    font-size: 20px;
}